.nav-right {
    display: flex;
    /* justify-content: center; */
    flex-direction: row-reverse;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.icon {
    color: #4d4d4d;
    font-size: 22px;
    cursor: pointer;
}

.cart-text {
    background-color: #c69c6d;
    color: white;
    position: absolute;
    top: -10px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.cart-text-shop {
    top: -7px;
    left: 81%;
}

.custom-link {
    text-decoration: none;
    color: #4d4d4d;
}

.user-container {
    position: relative;
}

.user-menu {
    background-color: #f3f2f2;
    position: absolute;
    top: 100%;
    left: 10%;
    padding: 10px 15px;
    display: none;
    z-index: 10;
    border-radius: 8px;
}


.user-container:hover .user-menu {
    display: block;
}