.App {
  text-align: center;
}

.form-container input {
  width: 100%;
  margin-bottom: 12px;
  border: none;
  outline: none;
  background-color: rgb(245, 244, 244);
  padding: 5px 15px;
  /* text-align: center; */
  border-radius: 6px;
}

.btn-regular,
.btn-regular-pill {
  border: none;
  background-color: #c69c6d;
  padding: 5px 15px;
  border-radius: 6px;
  color: white;
}

.btn-regular-pill {
  border-radius: 20px;
}